
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;   
    max-width: 1400px;
}
header{
    border: 2px solid tomato;
}

.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.nav-btn{
    height: 2.3rem;
    width: 9rem;
}
.banner{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}
.banner-btn{
    margin-top: 1rem;
    height: 2.5rem;
    width: 10rem;
    color: #ffffff;
    background-color: black;
    border-radius: 0.5rem;
}

/* main */
.web-dev{
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 2px solid rgb(17, 149, 226);
}
.web-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.layer-one{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}
.layer-two{
    display: flex;
    gap: 5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}
.layer-three{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
   margin-top: 3rem;
}

/* my inspire */
.my-inspire{
    height: 650px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid red;
}
.inspire-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.inspire-video{
    margin-top: 2rem;
    padding: 0rem 3.5rem;
}

/*current target  */
.current-target{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid palevioletred;
}
.target-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.target-topic{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.target-topic div{
    border: 2px solid tomato;
    height: 200px;
    width: 350px;
    padding: 1rem 1rem;
}
.target-topic-items-01{
    background-color: rgb(255,246,244);
}
.target-topic-items-02{
    background-color: rgb(242,246,254);
}
.target-topic-items-03{
    background-color: rgb(255,253,242);
}

/* footer */
.footer-img{
    width: 90%;
    margin: 0 auto;
    height: 250px;
    margin-top: 2rem;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    border: 2px solid red;
}
.footer-img-text{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.footer-img-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-links{
    height: 30px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: rgb(248,248,248);
    border: 2px solid tomato;

}