
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;   
    max-width: 1400px;
}
header{
    border: 2px solid tomato;
}

.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.nav-btn{
    height: 2.3rem;
    width: 9rem;
}
.banner{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}
.banner-btn{
    margin-top: 1rem;
    height: 2.5rem;
    width: 10rem;
    color: #ffffff;
    background-color: black;
    border-radius: 0.5rem;
}

/* main */
.web-dev{
    height: 1050px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 2px solid rgb(17, 149, 226);
}
.web-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.layer-one{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}
.layer-two{
    display: flex;
    gap: 5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}
.layer-three{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
   margin-top: 4rem;
}