body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
        
}
.header {   
    background-image: url(/assets/Hero-bg.png);
    height: 652px;
    width: 1400px;
    justify-content: center;
    

}

.picture{
    height: 240px;
    width: 240px;
    padding: 20px 500px;
    margin: 0px 50px;
    
}
.heading h4{
    font-size:50px;
    text-align: center;
    margin: 0px 20px;
}
.heading p{
    text-align: center;
}
.button1{
    color:whitesmoke ;
    background-color: #0D1321;
    height: 65px;
    width: 200px;
    font-size: 20px;
    margin: 15px 600px;
    border-radius: 15px;
}
/* Main part  */
/* section 02 */
.main-one{
    height: 1393px;
    width: 1140px; 
    margin: 80px 97px;
    border: 2px solid black;
} 
.section-1{
    width: 850px;
    height: 113px;
    text-align: center;
    font-size: larger;
    justify-content: center;
}

/* section 01 */

.btn2{
    width: 100px;
    height: 25px;
}
.image{
    text-align: right;
    padding-right: 10px;
}
.section-2{
    display: flex;
    padding:40px;
    justify-content: space-between;
}

/* section 03 */
